body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #111;
    color: white;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #e10600;
}

.profile {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.profile img {
    width: 250px;
    border-radius: 10px;
}

.info {
    max-width: 600px;
}

.details, .gallery, .links {
    padding: 20px;
}

.gallery img {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
}

a {
    color: #e10600;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
}
footer p {
    margin: 0;
    color: #aaa;
}